bcrypt==3.1.7
dnspython==1.16.0
fido2==0.7.3
graphlib-backport==1.0.3
gpg==1.14.0-unknown
ipwhois==1.1.0
Jinja2==2.10.1
lxml==4.4.0
markupsafe==1.1.1
paramiko==2.7.1
psycopg2-binary==2.8.4
pyotp==2.3.0
pyqrcode==1.2.1
pycryptodome==3.9.6
pyRFC3339==1.1
pysmbc==1.0.15.8
requests==2.21.0
ruamel.yaml==0.15.97
tornado==5.1.1
tzlocal==2.0.0
websockets==8.1
xmltodict==0.12.0
